<template>
	<div>
		<canvas ref="canvas"></canvas>
		<div class="legend" v-html="legend"></div>
	</div>
</template>

<script>
import Chart from 'chart.js';

export default {

	props: {
		labels: {},
		values: {},
		color: {
			default: 'rgb(62,149,205)'
		}
	},

	data() {
		return { legend: '' };
	},

	mounted() {

		let data = {
	        labels: this.labels,
	        datasets: [
	            {
	                label: "Africa",
	                borderColor: this.color,
	                backgroundColor: this.color,
	                data: this.values,
	                fill: false
	            },
	            {
	                label: "America",
	                borderColor: "red",
	                backgroundColor: "red",
	                data: [60, 40, 20, 85, 33, 60],
	                fill: false
	            },
	        ] 
	    };

		//let context = this.$el;
       
	    const myLineChart = new Chart(this.$refs.canvas, {
	        type: 'line',
	        data: data,
	        options: {
	            title: {
	                display: true,
	                text: 'World population per region (in millions)'
	            }
	        }
	    });

	    this.legend = myLineChart.generateLegend();
	}
}
</script>

<style lang="sass" scoped>
	.legend
		/deep/ ul
			list-style-type: none  
		/deep/ span 
			width: 10px
			height: 10px
			display: inline-block
			margin-right: 10px
</style>