<template>
    <div>
        <canvas ref="chart"></canvas>
        <div class="legend" v-html="legend"></div>
    </div>
</template>

<script>
import Chart from 'chart.js';

export default {
    data() {
        return {
            legend: ''
        };
    },

    methods: {
        render(data, type) {
            const chart = new Chart(this.$refs.chart, {
                type: type,
                data: data,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            this.legend = chart.generateLegend();
        }
    }

}
</script>

<style lang="sass" scoped>
</style>