<script>
import MainGraph from './MainGraph.vue';

export default {
    extends: MainGraph,

    props: ['player', 'opponent'],

    data() {
        return {
            type: 'bar',
        };
    },

    mounted() {
        let data = {
            labels: ['Wins'],
            datasets: [
                {
                    label: this.player.name,
                    borderColor: "red",
                    backgroundColor: "red",
                    fill: true,
                    data: [this.player.wins]
                },
                {
                    label: this.opponent.name,
                    borderColor: "blue",
                    backgroundColor: "blue",
                    fill: true,
                    data: [this.opponent.wins]
                }
            ]
        };

        this.render(data, this.type);

    },
    
}
</script>

<style lang="sass" scoped>
</style>